:root {
	--main-color: #191a1a;
	--add-color: #2b2c28;
	--primary-color: #7de2d1;
	--secondary-color: #339989;
	--text-color: #fffafb;

	--main-font: "Roboto", sans-serif;
	--headers-font: "Roboto Slab", serif;
}
